button.btn {
  background: var(--color-primary);
  color: var(--color-white);
  padding: 17px 22px;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  transition: background-color .2s linear;
  border: none;
}

button.btn:disabled {
  opacity: 0.5;
  cursor: default;
}

button.btn:hover:not(:disabled) {
  background-color: var(--color-primary-hover);
}
