/* header start */
header#main-header {
    background: var(--color-white);
    width: 100%;
    height: 100px;
    border-bottom: 2px solid var(--color-light-gray);
    overflow: hidden;
    margin-bottom: 80px;
}

header#main-header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header#main-header .header-logo {
    max-height: 100px;
    overflow: hidden;
}

header#main-header .header-logo img{
    object-fit: cover;
    width: auto;
    height: 100px;
}

header#main-header #header-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header#main-header #header-menu ul li {
    display: inline-block;
}

header#main-header #header-menu ul li + li {
    margin-left: 20px;
}

header#main-header #header-menu ul li a {
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    color: var(--color-dark-gray);
    padding: 6px 12px;
    transition: background-color .2s ease;
    border-radius: 4px;
}

header#main-header #header-menu ul li a:hover {
    background-color: var(--color-light-gray);
}
/* header end */

/* main-content start */
main#main-content {
    display: flex;
}

main#main-content aside {
    width: 320px;
    margin-right: 20px;
}

main#main-content section {
    flex: 1;
}

main#main-content .card-content .card-title {
    background: var(--color-dark-gray);
    padding: 20px 0;
    text-align: center;
    color: var(--color-white);
    font-weight: normal;
    font-size: 18px;
    width: 100%;
}

main#main-content .card-content .card-body {
    width: 100%;
    height: 100%;
    display: block;
    padding: 18px;
}

main#main-content .card-content .card-subtitle {
    padding: 14px 0;
    text-align: center;
    color: var(--color-dark-gray);
    font-weight: normal;
    font-size: 18px;
    width: 100%;
    margin-bottom: 10px;
}

main#main-content .card-content .card-button {
    display: block;
    text-align: center;
}
/* main-content end */

/* days list start */
.days-list {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.days-list .day-group {
    display: flex;
    flex-direction: column;
    width: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;
    background: var(--color-light-gray);
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    color: var(--color-dark-gray);
}

.days-list .day-group.active {
    background-color: var(--color-green);
    color: var(--color-white);
}
/* days list end */

/* hour list start */
.hour-list {
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 25px;
}

.hour-list .hour-item {
    padding: 7px 16px;
    background: var(--color-light-gray);
    color: var(--color-dark-gray);
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

.hour-list .hour-item.active {
    background-color: var(--color-green);
    color: var(--color-white);
}
/* hour list end */
