/* days list start */
.days-list {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.days-list .day-group {
    display: flex;
    flex-direction: column;
    width: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;
    background: var(--color-light-gray);
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    color: var(--color-dark-gray);
}

.days-list .day-group.active {
    background-color: var(--color-green);
    color: var(--color-white);
}
/* days list end */

/* hour list start */
.hour-list {
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 25px;
}

.hour-list .hour-item {
    padding: 7px 16px;
    background: var(--color-light-gray);
    color: var(--color-dark-gray);
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

.hour-list .hour-item.active {
    background-color: var(--color-green);
    color: var(--color-white);
}
/* hour list end */

/* form start */
.form {
    width: 80%;
    margin: 0 auto;
}

.input-group {
    width: 100%;
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px solid var(--color-light-gray);
    margin-bottom: 20px;
    transition: border-color .2s linear;
}

.input-group label {
    display: block;
    font-size: 12px;
    color: var(--color-dark-gray);
}

.input-group input {
    border: none;
    border-bottom: 1px solid transparent;
    outline: none;
    width: 100%;
    display: block;
    padding: 4px 0;
    color: var(--color-dark-gray);
    font-size: 14px;
}

.input-group input:focus {
    border-bottom: 1px solid var(--color-light-gray);
}

.input-group:focus-within {
    border-color: rgba(0, 0, 0, 0.2);
}
/* form end*/
